
.contact-form__heading {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.h2 {
    margin: 30px 0;
}

.form {
    max-width: 800px;
    margin: 0 auto;

}

.form__group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}

.form__group-title {
    display: flex;
    width: 80px;
    height: 50px;
    flex: 1;
    margin-right: 10px;
    align-items: center;
}

.required {
    color: red;
    font-weight: bold;
}

.form-group input {
    flex: 2;
    /* 入力部分の幅を調整 */
    text-align: right;
    /* 入力内容を右揃え */
    width: 100%;
    /* 入力欄の幅を最大化 */
    height: 50px;
    max-width: 500px;
    /* 必要に応じて幅を制限 */
    padding: 5px;
    box-sizing: border-box;
    /* パディングを含めた幅を適用 */
}

.input {
    border: none;
    border-radius: 3px;
    background-color: #F5F5F5;
}

.form__input--gender label {
    display: inline-block;
    margin-right: 20px;
    font-size: 0.9rem;
    color: #555;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.form__input--content {
    width: 500px;
    margin: 20px auto;
}

textarea {
    width: 500px;
    height: 80px;
}

.form__error {
    display: flex;
    color: #e74c3c;
    font-size: 0.85rem;
    margin-top: 5px;
    flex-direction: column;
}

.form__button {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.form__button-submit {
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #7c5e4a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}